.blog-post-card {
	margin-bottom: 34px;
	padding-bottom: 22px;
	border-bottom: 1.5px solid #ddd7cc;
}

.blog-post-title {
	margin: 0 0 10px 0;
	text-align: left;
}

.blog-post-content {
	display: flex;
	gap: 20px;
	align-items: flex-start;
}

.blog-post-image {
	width: 220px;
	height: 160px;
	object-fit: cover;
	border: 1px solid #cccccc;
	flex-shrink: 0;
}

.blog-post-excerpt {
	margin: 0;
	text-align: left;
}

.blog-post-read-more {
	margin-top: 12px;
	text-align: right;
	color: #0a1128;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.blog-post-divider {
	margin-top: 12px;
	border-bottom: 1px solid #999999;
}

.blog-post-right {
	display: flex;
	flex-direction: column;
}

.blog-post-header {
	display: flex;
	justify-content: space-between;
	/* 👈 tytuł lewo, autor prawo */
	align-items: center;
	margin-bottom: 10px;
	gap: 12px;
}

.blog-post-author {
	margin: 0;
	font-size: 13px;
	color: #666;
	white-space: nowrap;
	text-decoration: none;
	transition: color 0.3s ease;
}

.blog-post-author:hover {
	color: #0a1128;
	text-decoration: underline;
}

.user-post-date {
	margin: 0;
	color: #999;
	font-size: 0.85rem;
	margin-top: 0.25rem;
}
