* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Kluczowe: padding nie powiększa szerokości elementu */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  background-color: #f9faf5; /*kolor paska*/
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav-logo {
  color: #000030;
  font-family: "Canta one", serif;
  font-weight: 1000;
  transform: scaleY(1.1);
  font-size: 1.8rem;
  letter-spacing: 0px;
}

.nav-menu {
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-menu a:hover {
  color: #646cff;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.nav-logo {
  height: 40px;
}

.nav-logo img {
  height: 40px;
  object-fit: contain;
}

.nav-icon {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  /*padding: 8px;*/
  border-radius: 8px;
  transition: background 0.2s;
}

.nav-iconFav-img {
  width: 24px;
  background: none;
  border: none;
  outline: none;
  object-fit: contain; /* To pilnuje, żeby obrazek się nie zgniótł */
}

.nav-iconFav {
  border: 1px solid #f9faf5;
}

.nav-iconFav:hover {
  border: 1px solid black;
}

.nav-icon:hover {
  background-color: #333;
}

.main-content {
  padding: 2rem;
}
